_ignore/
bat/release/
project/SeLiap/obj/
project/SeLiap/bin/Debug/.vs
project/SeLiap/bin/Debug/SeLiap.exe
project/SeLiap/bin/Debug/SeLiap.exe.config
project/SeLiap/bin/Debug/SeLiap.pdb
project/SeLiap/bin/Debug/SeLiap.vshost.exe
project/SeLiap/bin/Debug/SeLiap.vshost.exe.config
project/SeLiap/bin/Debug/SeLiap.vshost.exe.manifest
project/SeLiap/bin/Debug/config.txt
project/SeLiap/bin/Debug/IronPython.*
project/SeLiap/bin/Release/